# Virtual environments
.venv/
.venv_hand/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# TensorFlow / datasets
tensorflow_datasets/
*.log

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db